In [1]:
import pandas as pd
import numpy as np
%config IPCompleter.greedy=True

In [2]:
df_fraud_set_a = pd.read_csv("/Users/dwahid/Documents/GitHub/fraud_detection/data_raw/Fraud_Status_Google_ Sheet.csv")

In [ ]:
df_fraud_set_a.head()

In [16]:
# Identified fraud accounts by using Ramzy's anomaly detection model
df_fraud_set_a = pd.read_csv("/Users/dwahid/Documents/GitHub/fraud_detection/data_raw/Fraud_Status_Google_ Sheet.csv") 
df_fraud_set_a['systemid'].replace(' ', np.nan, inplace=True)  # replacing empty 'systemid' with 'NaN'
df_fraud_set_a.dropna(subset=['systemid'], inplace=True)       # filtering out the 'systemid' rows with 'NaN'
df_fraud_set_a = df_fraud_set_a[['systemid', 'status_date', 'account_status', 'fraud_status', 'notes']]

In [ ]:
df_fraud_set_a.where[df_fraud_set_a['systemid'] == '']

In [5]:
# Identified fraud accounts which were flagged by the Rockstars
df_fraud_set_b = pd.read_csv("/Users/dwahid/Documents/GitHub/fraud_detection/data_raw/Fraud_RockStar_Flags.csv")

In [ ]:
df_fraud_set_b.tail()

In [7]:
# Identified fraud accounts which were flagged by the Rockstars
df_fraud_set_b = pd.read_csv("/Users/dwahid/Documents/GitHub/fraud_detection/data_raw/Fraud_RockStar_Flags.csv")
df_fraud_set_b['systemid'].replace(' ', np.nan, inplace=True)  # replacing empty 'systemid' with 'NaN'
df_fraud_set_b.dropna(subset=['systemid'], inplace=True)       # filtering out the 'systemid' rows with 'NaN'
df_fraud_set_b = df_fraud_set_b[['systemid','status_date', 'account_status', 'fraud_status', 'notes']]

In [8]:
df_fraud_set_b.tail()

,systemid,status_date,account_status,fraud_status,notes
329,1321847,6/20/2019,NaN,Fraud,unauthorized charge from FreshBooks
330,3434629,6/21/2019,NaN,Fraud,ex employee created an account under their email
331,3220177,6/24/2019,NaN,Fraud,"connected with ticket 1014851, looking for a r..."
332,3170473,6/25/2019,NaN,Fraud,unauthorized charges from FreshBooks
333,579816,6/27/2019,NaN,Fraud,account was closed when WP reached out to us. ...

In [9]:
frames = [df_fraud_set_a, df_fraud_set_b]
df_fraud = pd.concat(frames)

In [10]:
df_fraud.describe()

       systemid status_date account_status fraud_status              notes
count       560         554            300          560                552
unique      503         244             15            3                480
top     unknown  12/14/2017      cancelled        fraud  procom support247
freq          8          23             80          534                 16

In [11]:
df_fraud.head()

,systemid,status_date,account_status,fraud_status,notes
0,662442,6/16/2017,cancelled,fraud,"cancelled by admin, http://complaintwire.org/c..."
1,1107552,6/8/2017,cancelled abandoned,fraud,"many chargebacks, service not provided)/WePay ..."
3,1221173,7/26/2017,cancelled abandoned,fraud,"no online presence, charging for vague tech su..."
4,1241958,7/27/2017,cancelled abandoned,fraud,"computer repair, no item name, no online presence"
5,1257179,7/27/2017,cancelled abandoned,fraud,"trouble using stripe, no successful transactio..."

In [12]:
df_fraud.drop_duplicates(subset='systemid', keep = 'first', inplace=True)

In [15]:
# Export combined list of the fraud accounts to a csv file
df_fraud.to_csv(r"/Users/dwahid/Documents/GitHub/fraud_detection/data_clusters/fraud_accounts_list_v1_1.csv")

In [16]:
df_fraud_accounts_list_v1_2 = pd.read_csv("/Users/dwahid/Documents/GitHub/fraud_detection/data/fraud_account_list_v1_2.csv")

In [18]:
df_fraud_accounts_list_v1_2['status_date'].tail()

497    6/20/2019
498    6/21/2019
499    6/24/2019
500    6/25/2019
501    6/27/2019
Name: status_date, dtype: object

In [54]:
status_date_clean = []

for index,row in df_fraud_accounts_list_v1_2.iterrows():
    date_str = row['status_date'].split('/')
    #print(date_str[0], date_str[1], date_str[2])
    date_str_clean = date_str[2] + '-' + date_str[0] + '-' + date_str[1]
    #print(date_str_clean)
    status_date_clean.append(date_str_clean)

df_fraud_accounts_list_v1_2['status_date_v2'] = status_date_clean

In [55]:
df_fraud_accounts_list_v1_2.tail()

,systemid,status_date,account_status,fraud_status,notes,status_date_v2
497,1321847,6/20/2019,NaN,Fraud,unauthorized charge from FreshBooks,2019-6-20
498,3434629,6/21/2019,NaN,Fraud,ex employee created an account under their email,2019-6-21
499,3220177,6/24/2019,NaN,Fraud,"connected with ticket 1014851, looking for a r...",2019-6-24
500,3170473,6/25/2019,NaN,Fraud,unauthorized charges from FreshBooks,2019-6-25
501,579816,6/27/2019,NaN,Fraud,account was closed when WP reached out to us. ...,2019-6-27

In [56]:
df_fraud_accounts_list_v1_3 = df_fraud_accounts_list_v1_2[['systemid', 'status_date_v2','account_status', 'fraud_status', 'notes']]

In [57]:
df_fraud_accounts_list_v1_3.tail()

,systemid,status_date_v2,account_status,fraud_status,notes
497,1321847,2019-6-20,NaN,Fraud,unauthorized charge from FreshBooks
498,3434629,2019-6-21,NaN,Fraud,ex employee created an account under their email
499,3220177,2019-6-24,NaN,Fraud,"connected with ticket 1014851, looking for a r..."
500,3170473,2019-6-25,NaN,Fraud,unauthorized charges from FreshBooks
501,579816,2019-6-27,NaN,Fraud,account was closed when WP reached out to us. ...

In [58]:
# Export combined list of the fraud accounts to a csv file
df_fraud_accounts_list_v1_4 = df_fraud_accounts_list_v1_3.to_csv(r"/Users/dwahid/Documents/GitHub/fraud_detection/data/fraud_accounts_list_v1_4.csv")